.footer-wrapper {
    background-color: white;
    padding: 100px 0;
    .footer-content{
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;
        @media (max-width: 982px) {
            flex-direction: column;
        }
        .cta-wrapper {
            width: 214px;
            @media (max-width: 982px) {
                margin-top: 20px;
            }
        }
        .footer-logo {
            display: flex;
            @media (max-width: 982px) {
                margin-bottom: 50px;
            }
        }
    }
}