@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
.cards-grid {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto 109px auto;
    display: grid;
    grid-template: 437px / repeat(3, 364px);
    grid-gap: 16px;
    @media (max-width: 1200px) {
        grid-template: 437px / repeat(2, 364px);
    }
    @media (max-width: 745px) {
        grid-template: 437px / repeat(1, 364px);
    }
    animation: ease-out 1s fadeIn;
    transition-delay: 10s;
}