.cards-grid {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto 109px auto;
    display: grid;
    grid-template: auto / repeat(3, 350px);
    grid-gap: 16px;
    @media (max-width: 1200px) {
        grid-template: auto / repeat(2, 300px);
    }
    @media (max-width: 640px) {
        grid-template: auto / repeat(1, 300px);
    }
}