.navlink {
    font-weight: 500;
    font-size: 14px;
    color: white;
    transition: ease-in-out .2s;
    &:hover {
        opacity: .5;
    }
    @media (min-width: 1187px) {
        margin-right: 50px;
    }
    @media (max-width: 1187px) {
        margin-bottom: 20px;
    }
}