.navbar-wrapper {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin-top: 50px;
    left: 50%;
    top: 0;
    transform: translate(-50%);
    .navbar-links {
        display: flex;
        width: 70%;
        justify-content: flex-end;
        align-items: center;
    }
}